.form-section{
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.form-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}
