.table-section{
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.alert{
    color: red;
    border:1px solid red;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    background-color: wheat;
    border-radius: 3px;
    
}